* {
    box-sizing: border-box;

}

body {
    background-color: rgb(122, 180, 199);
    font-family: Arial, Helvetica, sans-serif;
    

}

header {
    background-color: rgb(32, 32, 158);
    margin-top: 10px;
    margin-bottom: 25px;
}

header h1 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.card-body {
    margin-bottom: 20px;
}

.border-after-card {
    border-bottom: 2px solid blue;
    width: 100%;
    margin-top: 50px;
    
}

.subtitle {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.input {
    height: 40px;
    border-radius: 10px;
    width: 25%;
}

.button {
    height: 50px;
    width: 25%;
    color: white;
    font-size: 25px;
    background-color: rgb(15, 132, 172);
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    
    

}

.temperature,
.humidity,
.wind {
    color: rgb(41, 41, 156);
    font-weight: bold;

}



.current-weather-data {
    margin-right: 350px;
    margin-left: 350px;
    margin-top: -150px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding-left: 10px;
    background-image: url("./images/Empty-Blue-Sky-as-Weather-Background-Photos-by-Canva.jpg");
    background-repeat: none;
    background-size: 100% 100%;
   
}


.fiveDayWeatherCardOne{
    border: 1px solid black;
    height: 400px;
    width: 100px;
}

.fiveDayWeatherCardTwo{
    border: 1px solid black;
    height: 400px;
    width: 100px;
    margin-left: 100px;
    margin-top: -400px;
}

.fiveDayWeatherCardThree{
    border: 1px solid black;
    height: 400px;
    width: 100px;
    margin-left: 200px;
    margin-top: -400px;
}

.fiveDayWeatherCardFour{
    border: 1px solid black;
    height: 400px;
    width: 100px;
    margin-left: 300px;
    margin-top: -400px;
}

.fiveDayWeatherCardFive{
    border: 1px solid black;
    height: 400px;
    width: 100px;
    margin-left: 400px;
    margin-top: -400px;
}

footer {
    background-color: rgb(32, 32, 158);
    margin-top: 250px;
    
}

footer h4 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}



  



