* {
    box-sizing: border-box;

}

body {
    /* background-color: rgb(122, 180, 199); */
    font-family: Arial, Helvetica, sans-serif;

}


/* header section */

header {
    /* background-color: rgb(32, 32, 158); */
    background-color: rgb(41, 41, 156);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
    left: 0;
    right: 0;
    
}

header h1 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}



/* search container and elements section */


.overall-container{
  
  display: flex;
  margin-bottom: 10px;

}

.search-container {
 
  width: 25%;
  
}

.subtitle {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  
}

.input {
  height: 40px;
  border-radius: 10px;
  width: 25%;
}

.card-body .input {
  width: 100%;
  margin-bottom: 20px;
}

.recent-searches {
  margin-bottom: 30px;
  margin-right: 10px;
}


.city-list-item {

  list-style-type: none;

}

.button {
  height: 35px;
  width: 100%;
  color: white;
  font-size: 20px;
  background-color: rgb(41, 41, 156);
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
  cursor: pointer
  
}

.buttons {
  height: 35px;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(41, 41, 156);
  opacity: 0.9;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;
  position: relative;
  left: -40px;
  cursor: pointer
  
}


/* current weather section */

.weatherToday {
    border: darkblue 1px solid;
    height: 50%;
    width: 75%;
    margin-left: 15px;
    background-color: rgb(41, 41, 156);

}

.cityName {
  color: antiquewhite;
    position: relative;
    right: -20px;
}

.temperature,
.humidity,
.wind {
    color:antiquewhite;
    font-weight: bold;
    position: relative;
    right: -20px;

}

#currentTemp,
#currentHumidity,
#currentWind {
  color: antiquewhite;
    font-weight: bold;
    position: relative;
    right: -20px;
}


/* border at middle of page */
.border-after-current-weather {
  border-top: 2px solid darkblue;
}

/* title for five day weather section */
.fiveDayTitle {
  margin-left: 25px;
  visibility: hidden;
}


/* five day weather section */


.weatherCards {
  display: flex;
  width: 50%;
  margin-left: 200px;
  visibility: hidden;
  
}


.fiveDayWeatherCardOne{
    border: 1px solid black;
    width: 150px;
    padding-left: 5px;
    height: 215px;
    border-radius: 5px;
    background: linear-gradient(to bottom, white 0%, white 15%, rgb(41, 41, 156) 15%, rgb(41, 41, 156) 100%);
   
}

.fiveDayWeatherCardTwo{
    border: 1px solid black;
    width: 150px;
    padding-left: 5px;
    height: 215px;
    border-radius: 5px;
    background: linear-gradient(to bottom, white 0%, white 15%, rgb(41, 41, 156) 15%, rgb(41, 41, 156) 100%);
    
}

.fiveDayWeatherCardThree{
    border: 1px solid black;
    width: 150px;
    padding-left: 5px;
    height: 215px;
    border-radius: 5px;
    background: linear-gradient(to bottom, white 0%, white 15%, rgb(41, 41, 156) 15%, rgb(41, 41, 156) 100%);
    
}

.fiveDayWeatherCardFour{
    border: 1px solid black;
    width: 150px;
    padding-left: 5px;
    height: 215px;
    border-radius: 5px;
    background: linear-gradient(to bottom, white 0%, white 15%, rgb(41, 41, 156) 15%, rgb(41, 41, 156) 100%);
   
}

.fiveDayWeatherCardFive{
    border: 1px solid black;
    width: 150px;
    padding-left: 5px;
    height: 215px;
    border-radius: 5px;
    background: linear-gradient(to bottom, white 0%, white 15%, rgb(41, 41, 156) 15%, rgb(41, 41, 156) 100%);
   
    
}

#dayOneDate,
#dayTwoDate,
#dayThreeDate,
#dayFourDate,
#dayFiveDate {
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-align: center;
    
}

#dayOneTemp,
#dayTwoTemp,
#dayThreeTemp,
#dayFourTemp,
#dayFiveTemp {
    color: antiquewhite;
    font-weight: bold;
}

#dayOneHumidity,
#dayTwoHumidity,
#dayThreeHumidity,
#dayFourHumidity,
#dayFiveHumidity {
    color: antiquewhite;
    font-weight: bold;
}

#dayOneWind,
#dayTwoWind,
#dayThreeWind,
#dayFourWind,
#dayFiveWind {
    color: antiquewhite;
    font-weight: bold;
}


/* footer section */

footer {
    
    background-color: rgb(41, 41, 156);
    width: 100%;
    margin-top: 250px;
    left: 0;
    right: 0;
       
}

footer h4 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}



/* <-------MEDIA QUERIES-------> */


/* .subtitle and .recent-searchers queries */

@media screen and (max-width: 566px) {

  .subtitle {
    font-size: 20px;
    
  }

  .recent-searches {
    font-size: 20px;
  }
}

@media screen and (max-width: 386px) {

  .subtitle {
    font-size: 17px;
    
  }

  .recent-searches {
    font-size: 20px;
  }
}





/* .button and .buttons queries */

@media screen and (max-width: 425px) {

  .button {
    font-size: 15px
  }
}

@media screen and (max-width: 932px) {

  .buttons {
    font-size: 10px
  }
}

@media screen and (max-width: 653px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 120% 
   }
}

@media screen and (max-width: 587px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 130% 
  }
}

@media screen and (max-width: 555px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 140% 
  }
}

@media screen and (max-width: 529px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 150% 
  }
}

@media screen and (max-width: 507px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 160% 
  }
}
@media screen and (max-width: 486px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 170% 
  }
}

@media screen and (max-width: 468px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 180% 
  }
}

@media screen and (max-width: 453px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 190% 
  }
}

@media screen and (max-width: 439px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 200% 
  }
}

@media screen and (max-width: 426px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 210% 
  }
}

@media screen and (max-width: 414px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 220% 
  }
}

@media screen and (max-width: 404px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 230% 
  }
}

@media screen and (max-width: 395px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 240% 
  }
}

@media screen and (max-width: 386px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 250% 
  }
}

@media screen and (max-width: 378px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 260% 
  }
}

@media screen and (max-width: 370px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 270% 
  }
}

@media screen and (max-width: 364px) {

  .buttons {
    font-size: 11px;
    font-weight: bold;
    width: 280% 
  }
}






/* .weatherCards queries */

@media screen and (max-width: 815px) {

  .weatherCards {

    width: 60%

  }

}

@media screen and (max-width: 695px) {

  .weatherCards {
    margin-left: 50px;
    width: 70%

  }

}

@media screen and (max-width: 590px) {

  .weatherCards {
    margin-left: 50px;
    width: 80%

  }

}

@media screen and (max-width: 525px) {

  .weatherCards {
    margin-left: 40px;
    width: 90%

  }

}

@media screen and (max-width: 465px) {

  .weatherCards {
    margin-left: 0px;
    width: 80%

  }

}




/* header, footer, and mid-page border queries */

@media screen and (max-width: 415px) {

  header {
    width: 105%

  }

  footer {
    width: 105%;

  }

  .border-after-current-weather {
    width: 105%
  }
  

}

@media screen and (max-width: 395px) {

  header {
    width: 110%

  }

  footer {
    width: 110%;

  }

  .border-after-current-weather {
    width: 110%
  }
}

@media screen and (max-width: 380px) {

  header {
    width: 115%

  }

  footer {
    width: 115%;

  }

  .border-after-current-weather {
    width: 115%
  }
}




  



  



