* {
    box-sizing: border-box;

}

body {
    background-color: rgb(122, 180, 199);
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: rgb(32, 32, 158);
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%
}

header h1 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#overallHolder {
    display: flex;
    flex-direction: row;
}


/* .border-after-current-weather {
    border-bottom: 2px solid rgb(26, 26, 133);
    margin-top: 50px;
    margin-bottom: 10px;
    width: 1000%;
    display: inline-block;
   
    
} */

.border-after-current-weather {
    border-top: 2px solid darkblue;
}


.card {
    width: 25%;
}

.card-body .input {
    width: 100%;
    margin-bottom: 20px;
}

/* .border-after-searchBar {
    border-bottom: 2px solid rgb(26, 26, 133);
    width: 325px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-left: 10px;
    

} */



.city-list-item {
    /* padding: 15px; */
    list-style-type: none;

    
}

.subtitle {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.input {
    height: 40px;
    border-radius: 10px;
    width: 25%;
}

.button {
    height: 35px;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: rgb(41, 41, 156);
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    cursor: pointer
    
}

.buttons {
    height: 35px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(54, 54, 133);
    opacity: 0.9;
    border-radius: 10px;
    text-align: center;
    margin-left: -100;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    position: relative;
    left: -40px;
    cursor: pointer
    
}

.temperature,
.humidity,
.wind {
    color: rgb(41, 41, 156);
    font-weight: bold;

}

#currentTemp,
#currentHumidity,
#currentWind {
    font-weight: bold;
}

#weatherToday {
    border: darkblue 1px solid;
    margin-bottom: 30px
    
    
}



.current-weather-data {
    width: 75%;
    padding-left: 10px;
   
}

#weatherToday {
    background-image: url("./images/Empty-Blue-Sky-as-Weather-Background-Photos-by-Canva.jpg");
    background-repeat: none;
    background-size: 100% 100%;
    


}

#weatherBars {
    display: flex;
    flex-direction: row;
    padding: auto;
    justify-content: space-around;
}


.fiveDayWeatherCardOne{
    border: 1px solid black;
    width: 100px;
    padding-left: 5px;
    background-color: rgb(54, 54, 133)
}

.fiveDayWeatherCardTwo{
    border: 1px solid black;
    width: 100px;
    padding-left: 5px;
    background-color: rgb(54, 54, 133);
}

.fiveDayWeatherCardThree{
    border: 1px solid black;
    width: 100px;
    padding-left: 5px;
    background-color: rgb(54, 54, 133);
}

.fiveDayWeatherCardFour{
    border: 1px solid black;
    width: 100px;
    padding-left: 5px;
    background-color: rgb(54, 54, 133);
}

.fiveDayWeatherCardFive{
    border: 1px solid black;
    width: 100px;
    padding-left: 5px;
    background-color: rgb(54, 54, 133);
}

#dayOneDate,
#dayTwoDate,
#dayThreeDate,
#dayFourDate,
#dayFiveDate {
    font-size: 15px;
    color:antiquewhite;
    font-weight: bold;
}

#dayOneTemp,
#dayTwoTemp,
#dayThreeTemp,
#dayFourTemp,
#dayFiveTemp {
    color: antiquewhite;
    font-weight: bold;
}

#dayOneHumidity,
#dayTwoHumidity,
#dayThreeHumidity,
#dayFourHumidity,
#dayFiveHumidity {
    color: antiquewhite;
    font-weight: bold;
}

#dayOneWind,
#dayTwoWind,
#dayThreeWind,
#dayFourWind,
#dayFiveWind {
    color: antiquewhite;
    font-weight: bold;
}

footer {
    background-color: rgb(32, 32, 158);
    margin-top: 250px;
    
}

footer h4 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


@media screen and (max-width: 866px) {
    .buttons  {
     
      font-size: 15px; 
      font-weight: bold
    
    }
  }

  @media screen and (max-width: 737px) {
    .buttons  {
  
      font-size: 12px;
      font-weight: bold

    
    }
  }

  @media screen and (max-width: 580px) {
    .buttons  {
  
      font-size: 10px;
      font-weight: bold 
    
    }
  }

  @media screen and (max-width: 521px) {
    .buttons  {

      font-size: 6px;
      font-weight: bold
    
    }
  }

  @media screen and (max-width: 430px) {
    .buttons  {

      font-size: 4px;
      font-weight: bold
    
    }
  }

  @media screen and (max-width: 635px) {
    #weatherFiveDay  {
     
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
    }
  }

  /* @media screen and (max-width: 635px) {
    .border-after-current-weather  {
     
  
      width: 100%
      
      
    
    }
  } */



  



